<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
        <link rel="stylesheet" th:href="@{styles/registrationStyle.css}" />
    </head>

    <body>
        <h1>Register</h1>
        <a th:href="@{/}">
            <img th:src="@{/images/TacoCloud.png}"/>
        </a>

        <form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

            <label for="username">Username: </label>
            <input type="text" name="username"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('username')}"
                    th:errors="*{username}">Username Error</span>
            <br/>

            <label for="password">Password: </label>
            <input type="password" name="password"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('password')}">Password must be at least 5 characters long</span>
            <br/>

            <label for="confirm">Confirm password: </label>
            <input type="password" name="confirm"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('confirm')}"
                    th:errors="*{confirm}">Confirm Error</span>
            <br/>

            <label for="fullname">Full name: </label>
            <input type="text" name="fullname"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('fullname')}"
                    th:errors="*{fullname}">Fullname Error</span>
            <br/>

            <label for="street">Street: </label>
            <input type="text" name="street"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('street')}"
                    th:errors="*{street}">Street Error</span>
            <br/>

            <label for="city">City: </label>
            <input type="text" name="city"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('city')}"
                    th:errors="*{city}">City Error</span>
            <br/>

            <label for="state">State: </label>
            <input type="text" name="state"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('state')}"
                    th:errors="*{state}">State Error</span>
            <br/>

            <label for="zip">Zip: </label>
            <input type="text" name="zip"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('Zip')}"
                    th:errors="*{zip}">Zip Error</span>
            <br/>

            <label for="phoneNumber">Phone: </label>
            <input type="text" name="phoneNumber"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('phoneNumber')}">Invalid phone number</span>
            <br/>

            <button>Register</button>
        </form>
    </body>
</html>