body {
    text-align: center;
    background: rgb(240,240,240);
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(240,200,95,0.29744397759103647) 50%, rgba(245,245,245,1) 100%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:hover img {
    transform: scale(1.1);
    transition: transform .5s ease;
}

h1, p {
    color: #BF001E;
    font-family: "Bradley Hand", cursive;
}

button {
    margin-top: 10px;
    padding: 5px 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 0 rgb(255, 208, 147);
    background-color: #fbe6b2;

    font-size: 20px;
    font-family: "Bradley Hand", cursive;
    color: #BF001E;
}

button:hover {
    background: rgb(255, 208, 147);
    box-shadow: none;
    position: relative;
    top: 5px;
}

.error {
    color: rgba(255, 0, 0, 0.696);
}