body {
    background: rgb(240,240,240);
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(240,200,95,0.29744397759103647) 50%, rgba(245,245,245,1) 100%);
}

a:hover img {
    transform: scale(1.2);
}

.validationError {
    color: rgba(255, 0, 0, 0.696);
}